$red: #f00;
$var: 16px;
$green: #0f0;
$url: url("test.png");
$path: "test.png";
$palette: (
    primary: blue,
    secondary: #0f0,
    text: black
);

$spacing: 20px;

$fs: (
    small: 10px,
    big: 30px
);

$navbar: (
    dark: black,
    light: white
);